.gradle
/build/
/upload-dir/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.factorypath
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
bin/
nbbuild/
dist/
nbdist/
.nb-gradle/